extends layout

block content
	div.container
		h1 Cage My Cats
			p Your cat + Nic Cage = Win
			div.well
				#cat-drop-container
					form(action="/upload", method="post", enctype="multipart/form-data",
					class="dropzone", id="cat-drop")
					div.col-md-5
						h3 Share:
						button.btn.btn-lg.btn-primary Send to Imgur
						button.btn.btn-lg.btn-info Tweet Picture
						button.btn.btn-lg.btn-danger Remove Cage

			#caged-cat
