doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/dropzone.css')
		link(rel='stylesheet', href='stylesheets/bootstrap.css')
		link(rel='stylesheet', href='stylesheets/flat-ui.css')
		link(rel='shortcut icon', href='images/favicon.png')

		script(src='/javascripts/dropzone.js')
		script(src='/javascripts/upload.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	body
		.container
			block content
			footer
				p Made in Scotland by CodeCreatedMe
