body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#cat-drop {
	width: 100%;
	height: 500px;
	border: solid 1px black;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

#cat-drop-container {
	display: table;
	width: 100%;
	height: 500px;
}

#caged-cat {
	display: none;
}

#caged-cat img {
	max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
